* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 2rem;

	h1 {
		color: rgb(204, 168, 101);
		margin-bottom: .5rem;
	}

	.newsletterSignupBox {
		margin-top: 1rem;
		background-color: rgb(26, 84, 26);
		border-radius: .5rem;
		padding: 1rem;

		p {
			margin-bottom: .5rem;
		}
	}

	nav {
		margin-bottom: 2rem;
		background-color: #444;
		padding: .5rem;

		ul {
			display: flex;
			list-style-type: none;
			gap: 1rem;

			li {
				a {
					color: #aaa;
					text-decoration: none;

					&.active {
						color: rgb(211, 145, 24);
					}
				}
			}
		}
	}

	main {
		font-size: 1.2rem;

		.pageAbout {
			p {
				color: #888;
			}
		}

		.pageArticles {
			.article {
				background: #111;
				margin-bottom: 1rem;
				padding: 1rem;
				margin-top: 1rem;
				border-radius: .5rem;

				.supertitle {
					color: yellow;
					font-size: .8rem;
				}

				.title {
					color: rgb(211, 145, 24);
				}

				.body {
					margin-top: .5rem;
					font-style: italic;
				}
			}
		}
	}
}